{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}
{% block content %}
<div class="container login">
    <h1>Forget Password</h1>
        <div class="myform">
            <form method="post" action="/admin/forget-password">
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input class="form-control" type="email" name="email" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Send Reset Link</button>
                </div>
            </form>
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            {% if success %}
            <p style="color:green;">{{ success }}</p>
            {% endif %}
        </div>
</div>


{% endblock %}
